Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

fix dialog ref type in clipboard dialog
  webui/src/app/components/clipboard-dialog/clipboard-dialog.component.ts
Labels: webui

bump webui version to v0.9.0
  webui/package-lock.json
  webui/package.json
Labels: webui

bump lib version to v0.16.2
  lib/package-lock.json
  lib/package.json
Labels: lib

bump docs to v0.2.1
  docs/package-lock.json
  docs/package.json
Labels: docs

sync docs package-lock file
  docs/package-lock.json
Labels: docs

bump lib to v0.16.2 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump webui to v0.9.0 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.9
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.9 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump launcher to v0.6.9
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

move apple team id to env variable
  .github/workflows/publish-launcher.yml
  launcher/package.json
Labels: launcher

remove publishing to builds site
  .github/workflows/publish-cli-www.yml
  .github/workflows/publish-docs-build.yml
  .github/workflows/publish-launcher.yml
  .github/workflows/publish-lib-www.yml
  .github/workflows/publish-types-www.yml
  .github/workflows/publish-webui-www.yml
Labels: none

update osc-min to 2.1.1
  lib/package-lock.json
  lib/package.json
  lib/src/actions/osc-output-action.ts
  lib/src/messages/osc-message.ts
  lib/src/protocols/tcp-protocol.ts
  lib/src/protocols/udp-protocol.ts
Labels: lib

update angular deps to 18.2.10
  webui/package-lock.json
  webui/package.json
Labels: webui

add skeleton code for required array params
  webui/src/app/services/schema.service.ts
Labels: webui

bump webui to v0.9.1
  webui/package-lock.json
  webui/package.json
Labels: webui

bump webui to v0.9.1 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

cleanup logging
  lib/src/actions/store-action.ts
Labels: lib

bump lib to v0.16.3
  lib/package-lock.json
  lib/package.json
Labels: lib

bump lib to v0.16.3 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.10
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.10 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump launcher to v0.6.10
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump cloud to v0.5.1
  cloud/package-lock.json
  cloud/package.json
Labels: cloud

upgrade webui to angular v19
  webui/angular.json
  webui/package-lock.json
  webui/package.json
  webui/src/app/app.component.ts
  webui/src/app/components/action/action.component.ts
  webui/src/app/components/array-form/array-form.component.ts
  webui/src/app/components/clipboard-dialog/clipboard-dialog.component.ts
  webui/src/app/components/config/config.component.ts
  webui/src/app/components/import-json/import-json.component.ts
  webui/src/app/components/message-type/message-type.component.ts
  webui/src/app/components/midi-info-dialog/midi-info-dialog.component.ts
  webui/src/app/components/params-form/params-form.component.ts
  webui/src/app/components/patch-editor/patch-editor.component.ts
  webui/src/app/components/transform/transform.component.ts
  webui/src/app/components/trigger/trigger.component.ts
Labels: webui

upgrade webui to angular/material v19
  webui/package-lock.json
  webui/package.json
  webui/theme.scss
Labels: webui

fix path for demo webui workflow
  .github/workflows/publish-demo-webui.yml
Labels: none

fix webui path in cli
  cli/main.js
  cli/package.json
Labels: cli

bump webui to v0.9.2
  webui/package-lock.json
  webui/package.json
Labels: webui

bump webui to v0.9.2 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

add format script to package.json
  package.json
Labels: none

npm run format:write
  webui/src/app/app.component.ts
  webui/src/app/components/action/action.component.ts
  webui/src/app/components/array-form/array-form.component.ts
  webui/src/app/components/clipboard-dialog/clipboard-dialog.component.ts
  webui/src/app/components/config/config.component.ts
  webui/src/app/components/import-json/import-json.component.ts
  webui/src/app/components/message-type/message-type.component.ts
  webui/src/app/components/midi-info-dialog/midi-info-dialog.component.ts
  webui/src/app/components/params-form/params-form.component.ts
  webui/src/app/components/patch-editor/patch-editor.component.ts
  webui/src/app/components/transform/transform.component.ts
  webui/src/app/components/trigger/trigger.component.ts
Labels: webui

bump node version to 22.12.0
  .nvmrc
  cli/Dockerfile
  cloud/Dockerfile
Labels: cli, cloud

update @angular dependencies in webui
  webui/package-lock.json
  webui/package.json
Labels: webui

bump @angular dev deps to v19.0.6
  webui/package-lock.json
  webui/package.json
Labels: webui

Update info around admin ui
  cloud/README.md
Labels: cloud

Update README.md
  README.md
Labels: none

update @angular dependencies to 19.1.2
  webui/package-lock.json
  webui/package.json
Labels: webui

bum @angular to highest common version
  webui/package-lock.json
  webui/package.json
Labels: webui

Update dependabot.yml
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'
