Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

fix action event args in delay and random
  lib/src/actions/delay-action.ts
  lib/src/actions/random-action.ts
Labels: lib

add test for delay-action
  lib/tests/actions/delay-action.test.js
Labels: lib

add test for store action
  lib/tests/actions/store-action.test.js
Labels: lib

add test for base action class
  lib/tests/actions/action.test.js
Labels: lib

update lib import in action tests
  lib/tests/actions/action.test.js
  lib/tests/actions/delay-action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

lint
  lib/tests/actions/action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

add TODO
  lib/src/actions/shell-action.ts
Labels: lib

fix params of udp and tcp action tests
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

add basic shell action test
  lib/tests/actions/shell-action.test.js
Labels: lib

fix sub action args in test
  lib/tests/actions/delay-action.test.js
  lib/tests/actions/random-action.test.js
Labels: lib

add test for random action
  lib/tests/actions/random-action.test.js
Labels: lib

add test for udp and tcp output action
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

Update release.yml
  .github/release.yml
Labels: none

bump lib to v0.17.1
  lib/package-lock.json
  lib/package.json
Labels: lib

update lib to v0.17.1 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.7.1
  cli/package-lock.json
  cli/package.json
Labels: cli

bump webui to v0.10.1
  webui/package-lock.json
  webui/package.json
Labels: webui

update webui to v0.10.1 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.7.2
  cli/package-lock.json
  cli/package.json
Labels: cli

update cli to v0.7.2 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

have launcher be able to handle older protocol layout ugh
  launcher/src/main.js
Labels: launcher

bump launcher to v0.7.1
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

trim handlers section off error paths
  webui/src/app/services/schema.service.ts
Labels: webui

fix name of output on config message types
  webui/src/app/components/config/config.component.html
Labels: webui

fix colors on param form dialog
  webui/src/app/components/params-form/params-form.component.css
  webui/src/app/components/params-form/params-form.component.html
Labels: webui

fix input colors on array-form
  webui/src/app/components/array-form/array-form.component.html
Labels: webui

fix placeholder colors on patch-editor dialog
  webui/src/app/components/patch-editor/patch-editor.component.css
Labels: webui

bump webui to v0.10.2
  webui/package-lock.json
  webui/package.json
Labels: webui

update webui to v0.10.2 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.7.3
  cli/package-lock.json
  cli/package.json
Labels: cli

update cli to v0.7.3 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

add test for base action class
  lib/tests/actions/action.test.js
Labels: lib

fix params of udp and tcp action tests
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

update lib import in action tests
  lib/tests/actions/action.test.js
  lib/tests/actions/delay-action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

fix sub action args in test
  lib/tests/actions/delay-action.test.js
  lib/tests/actions/random-action.test.js
Labels: lib

add test for delay-action
  lib/tests/actions/delay-action.test.js
Labels: lib

add basic shell action test
  lib/tests/actions/shell-action.test.js
Labels: lib

lint
  lib/tests/actions/action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

add test for store action
  lib/tests/actions/store-action.test.js
Labels: lib

add test for udp and tcp output action
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'
