Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'

add bytes typing to midi message
  lib/src/messages/midi-message.ts
Labels: lib

add types for vars and protocols
  lib/src/actions/action.ts
  lib/src/actions/cloud-output-action.ts
  lib/src/actions/delay-action.ts
  lib/src/actions/forward-action.ts
  lib/src/actions/http-request-action.ts
  lib/src/actions/midi-output-action.ts
  lib/src/actions/mqtt-output-action.ts
  lib/src/actions/osc-output-action.ts
  lib/src/actions/random-action.ts
  lib/src/actions/tcp-output-action.ts
  lib/src/actions/udp-output-action.ts
  lib/src/config.ts
  lib/src/router.ts
  lib/src/transforms/transform.ts
  lib/src/utils/templating.ts
Labels: lib

build lib before running lint
  .github/workflows/check-format-lint.yml
Labels: none

fix step name
  .github/workflows/check-format-lint.yml
Labels: none

remove generated typescript file for schema
  schema/config.d.ts
Labels: schema

add prepack script to lib
  lib/package.json
Labels: lib

bump lib version
  lib/package-lock.json
  lib/package.json
Labels: lib

bump lib version in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

remove jsdoc config file
  lib/.jsdoc.config.json
Labels: lib

remove jsdoc link from docs
  docs/astro.config.mjs
Labels: docs

bump docs to 0.1.2
  docs/package-lock.json
  docs/package.json
Labels: docs

add test for base action class
  lib/tests/actions/action.test.js
Labels: lib

add test for udp and tcp output action
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

add test for store action
  lib/tests/actions/store-action.test.js
Labels: lib

add test for delay-action
  lib/tests/actions/delay-action.test.js
Labels: lib

add test for random action
  lib/tests/actions/random-action.test.js
Labels: lib

update lib import in action tests
  lib/tests/actions/action.test.js
  lib/tests/actions/delay-action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

lint
  lib/tests/actions/action.test.js
  lib/tests/actions/random-action.test.js
  lib/tests/actions/store-action.test.js
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

fix params of udp and tcp action tests
  lib/tests/actions/tcp-output-action.test.js
  lib/tests/actions/udp-output-action.test.js
Labels: lib

add TODO
  lib/src/actions/shell-action.ts
Labels: lib

add basic shell action test
  lib/tests/actions/shell-action.test.js
Labels: lib

fix vars updated event name in cli
  cli/main.js
Labels: cli

action events now have the action back in them
  lib/src/actions/delay-action.ts
  lib/src/actions/random-action.ts
  lib/src/actions/store-action.ts
  lib/src/router.ts
Labels: lib

bump lib to 0.15.2
  lib/package-lock.json
  lib/package.json
Labels: lib

update cli to lib 0.15.2
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to 0.6.5
  cli/package-lock.json
  cli/package.json
Labels: cli

bump launcher to cli 0.6.5
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump launcher version to 0.6.7
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

add param types for transforms, actions and triggers
  lib/src/actions/action.ts
  lib/src/actions/cloud-output-action.ts
  lib/src/actions/delay-action.ts
  lib/src/actions/forward-action.ts
  lib/src/actions/http-request-action.ts
  lib/src/actions/http-response-action.ts
  lib/src/actions/log-action.ts
  lib/src/actions/midi-output-action.ts
  lib/src/actions/mqtt-output-action.ts
  lib/src/actions/osc-output-action.ts
  lib/src/actions/random-action.ts
  lib/src/actions/shell-action.ts
  lib/src/actions/store-action.ts
  lib/src/actions/tcp-output-action.ts
  lib/src/actions/udp-output-action.ts
  lib/src/config.ts
  lib/src/router.ts
  lib/src/transforms/floor-transform.ts
  lib/src/transforms/log-transform.ts
  lib/src/transforms/map-transform.ts
  lib/src/transforms/power-transform.ts
  lib/src/transforms/round-transform.ts
  lib/src/transforms/scale-transform.ts
  lib/src/transforms/template-transform.ts
  lib/src/transforms/transform.ts
  lib/src/triggers/any-trigger.ts
  lib/src/triggers/bytes-equal-trigger.ts
  lib/src/triggers/http-request-trigger.ts
  lib/src/triggers/midi-control-change-trigger.ts
  lib/src/triggers/midi-note-off-trigger.ts
  lib/src/triggers/midi-note-on-trigger.ts
  lib/src/triggers/midi-pitch-bend-trigger.ts
  lib/src/triggers/midi-program-change-trigger.ts
  lib/src/triggers/mqtt-topic-trigger.ts
  lib/src/triggers/osc-address-trigger.ts
  lib/src/triggers/regex-trigger.ts
  lib/src/triggers/sender-trigger.ts
  lib/src/triggers/trigger.ts
  lib/src/utils/templating.ts
  schema/config.d.ts
Labels: lib, schema

fix exponent property in power transform
  lib/src/transforms/power-transform.ts
Labels: lib

remove generated type file again
  schema/config.d.ts
Labels: schema

fix power transform test
  lib/tests/transforms/power-transform.test.js
Labels: lib

add MIDI pitch bend trigger to trigger list
  schema/config.schema.json
Labels: schema

bump lib to 0.15.3
  lib/package-lock.json
  lib/package.json
Labels: lib

run tests before lib packing
  lib/package.json
Labels: lib

update cli to lib 0.15.3
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to 0.6.6
  cli/package-lock.json
  cli/package.json
Labels: cli

update launcher to cli 0.6.6
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

make protocol settings button stand out more
  webui/src/app/components/protocol/protocol.component.html
Labels: webui

make protocol add trigger button stand out more
  webui/src/app/components/protocol/protocol.component.html
Labels: webui
