Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

cleanup
  types/package/package.json
Labels: types

mark patches as optional in types
  types/src/models/router.ts
Labels: types

bump types to 0.1.1
  types/package-lock.json
  types/package.json
Labels: types

update to node 20.14.0
  .nvmrc
  cli/Dockerfile
  cloud/Dockerfile
  lib/package-lock.json
  lib/package.json
  types/package-lock.json
  types/package.json
Labels: cli, cloud, lib, types

update to latest v20 node types
  types/package-lock.json
  types/package.json
Labels: types

mark params and comment property as optional
  types/src/models/action.ts
  types/src/models/transform.ts
  types/src/models/trigger.ts
Labels: types

bump types to 0.2.0
  types/package-lock.json
  types/package.json
Labels: types

mark types library as ignored by dependabot
  .github/dependabot.yml
Labels: none

add type for any action params
  types/src/models/params/actions.ts
Labels: types

bump types to 0.2.1
  types/package-lock.json
  types/package.json
Labels: types

remove unknown from types
  types/src/models/action.ts
  types/src/models/config.ts
  types/src/models/params/actions.ts
  types/src/models/params/transforms.ts
  types/src/models/params/triggers.ts
  types/src/models/trigger.ts
Labels: types

bump types to 0.3.0
  types/package-lock.json
  types/package.json
Labels: types

convert webui to use types library
  webui/package-lock.json
  webui/package.json
  webui/src/app/components/action/action.component.ts
  webui/src/app/components/params-form/params-form.component.ts
  webui/src/app/components/patch-editor/patch-editor.component.ts
  webui/src/app/components/protocol/protocol.component.ts
  webui/src/app/components/transform/transform.component.ts
  webui/src/app/components/trigger/trigger.component.ts
  webui/src/app/models/action.model.ts
  webui/src/app/models/config.models.ts
  webui/src/app/models/copy-object.model.ts
  webui/src/app/models/patches.model.ts
  webui/src/app/models/transform.model.ts
  webui/src/app/models/trigger.model.ts
  webui/src/app/services/event.service.ts
  webui/src/app/services/schema.service.ts
  webui/src/app/services/vars.service.ts
Labels: webui

update lib to types 0.3.0
  lib/package-lock.json
  lib/package.json
Labels: lib

update webui to angular 18.0.4
  webui/package-lock.json
  webui/package.json
Labels: webui

upgrade to node 20.15.0
  .nvmrc
  cli/Dockerfile
  cloud/Dockerfile
Labels: cli, cloud

update webui to angular 18.0.5
  webui/package-lock.json
  webui/package.json
Labels: webui

partial update of webui to angular 18.0.6
  webui/package-lock.json
  webui/package.json
Labels: webui

update webui to autoprefixer 10.4.19
  webui/package-lock.json
  webui/package.json
Labels: webui

update webui to zone.js 0.4.17
  webui/package-lock.json
  webui/package.json
Labels: webui

update angular build tools to 18.0.7
  webui/package-lock.json
  webui/package.json
Labels: webui

switch umami to posthog
  webui/src/index.demo.html
Labels: webui

load subtrigger types only once for a particular trigger
  webui/src/app/components/trigger/trigger.component.html
  webui/src/app/components/trigger/trigger.component.ts
Labels: webui

bump webui to 0.8.1
  webui/package-lock.json
  webui/package.json
Labels: webui

update all @angular to 18.1.1
  webui/package-lock.json
  webui/package.json
Labels: webui

add types to install all script
  scripts/install_all.js
Labels: none

fully update package-lock.json files
  cli/package-lock.json
  cloud/package-lock.json
  docs/package-lock.json
  launcher/package-lock.json
  lib/package-lock.json
  package-lock.json
  site/package-lock.json
  types/package-lock.json
  webui/package-lock.json
Labels: cli, cloud, docs, launcher, lib, site, types, webui

remove @types/ajv
  lib/package-lock.json
  lib/package.json
Labels: lib

switch node actions to use nvmrc version
  .github/workflows/check-docs-build.yml
  .github/workflows/check-format-lint.yml
  .github/workflows/check-webui-build.yml
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cli-npm.yml
  .github/workflows/publish-cli-www.yml
  .github/workflows/publish-cloud-npm.yml
  .github/workflows/publish-demo-webui.yml
  .github/workflows/publish-docs-build.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-launcher.yml
  .github/workflows/publish-lib-npm.yml
  .github/workflows/publish-lib-www.yml
  .github/workflows/publish-site.yml
  .github/workflows/publish-types-npm.yml
  .github/workflows/publish-types-www.yml
  .github/workflows/publish-webui-npm.yml
  .github/workflows/publish-webui-www.yml
  .github/workflows/run-lib-tests.yml
Labels: none

pin setup-node action to v4.0.3 digest
  .github/workflows/check-docs-build.yml
  .github/workflows/check-format-lint.yml
  .github/workflows/check-webui-build.yml
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cli-npm.yml
  .github/workflows/publish-cli-www.yml
  .github/workflows/publish-cloud-npm.yml
  .github/workflows/publish-demo-webui.yml
  .github/workflows/publish-docs-build.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-launcher.yml
  .github/workflows/publish-lib-npm.yml
  .github/workflows/publish-lib-www.yml
  .github/workflows/publish-site.yml
  .github/workflows/publish-types-npm.yml
  .github/workflows/publish-types-www.yml
  .github/workflows/publish-webui-npm.yml
  .github/workflows/publish-webui-www.yml
  .github/workflows/run-lib-tests.yml
Labels: none

pin checkout action to v4.1.7 digest
  .github/workflows/check-docs-build.yml
  .github/workflows/check-format-lint.yml
  .github/workflows/check-webui-build.yml
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cli-npm.yml
  .github/workflows/publish-cli-www.yml
  .github/workflows/publish-cloud-image.yml
  .github/workflows/publish-cloud-npm.yml
  .github/workflows/publish-demo-webui.yml
  .github/workflows/publish-docs-build.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-launcher.yml
  .github/workflows/publish-lib-npm.yml
  .github/workflows/publish-lib-www.yml
  .github/workflows/publish-schema-docs.yml
  .github/workflows/publish-site.yml
  .github/workflows/publish-types-npm.yml
  .github/workflows/publish-types-www.yml
  .github/workflows/publish-webui-npm.yml
  .github/workflows/publish-webui-www.yml
  .github/workflows/run-lib-tests.yml
Labels: none

pin labeler action to v5.0.0 digest
  .github/workflows/label-pr.yml
Labels: none

pin docker setup-qemu-action action to v3.2.0 digest
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cloud-image.yml
Labels: none

pin docker setup-buildx-action action to v3.6.1 digest
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cloud-image.yml
Labels: none

pin docker login-action action to v3.3.0 digest
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cloud-image.yml
Labels: none

pin docker metadata-action action to v5.5.1 digest
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cloud-image.yml
Labels: none

pin docker build-push-action action to v6.5.0 digest
  .github/workflows/publish-cli-image.yml
  .github/workflows/publish-cloud-image.yml
Labels: none

pin ftp deploy action to v4.3.5 digest
  .github/workflows/publish-cli-www.yml
  .github/workflows/publish-demo-webui.yml
  .github/workflows/publish-docs-build.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-launcher.yml
  .github/workflows/publish-lib-www.yml
  .github/workflows/publish-schema-docs.yml
  .github/workflows/publish-site.yml
  .github/workflows/publish-types-www.yml
  .github/workflows/publish-webui-www.yml
Labels: none

pin setup-python action to v5.1.1 digest
  .github/workflows/publish-schema-docs.yml
Labels: none

upgrade angular to 18.1.3
  webui/package-lock.json
  webui/package.json
Labels: webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'
