Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'

Update dependabot.yml
  .github/dependabot.yml
Labels: none

fix dependabot yaml syntax
  .github/dependabot.yml
Labels: none

roll site back to tailwind 3.4.17
  site/package-lock.json
  site/package.json
Labels: site

use actual tailwind build on site instead of CDN
  .github/workflows/publish-site.yml
  site/src/index.html
  site/tailwind.css
Labels: site

roll launcher back to tailwind 3.4.17
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

add type changes to further define difference between protocols and messages
  types/src/models/config.ts
  types/src/models/params/protocols.ts
  types/src/models/protocol.ts
Labels: types

rework schema to split out protocol initialization
  schema/config.schema.json
Labels: schema

restructure protocols to have a base class and type class map stuff
  lib/src/protocols/cloud-protocol.ts
  lib/src/protocols/http-protocol.ts
  lib/src/protocols/index.ts
  lib/src/protocols/midi-protocol.ts
  lib/src/protocols/mqtt-protocol.ts
  lib/src/protocols/protocol.ts
  lib/src/protocols/tcp-protocol.ts
  lib/src/protocols/udp-protocol.ts
Labels: lib

update config test for new layout
  lib/tests/config/config.test.js
Labels: lib

update schema and types for new protocols/handlers layout
  schema/config.schema.json
  types/src/models/config.ts
  types/src/models/protocol.ts
Labels: schema, types

update lib for protocols/handlers layout
  lib/src/config.ts
  lib/src/protocols/protocol.ts
  lib/src/router.ts
  lib/src/utils/migrations.ts
Labels: lib

update webui for protocols/handlers layout
  webui/src/app/app.component.ts
  webui/src/app/components/config/config.component.html
  webui/src/app/components/config/config.component.ts
  webui/src/app/components/message-type/message-type.component.html
  webui/src/app/components/message-type/message-type.component.ts
  webui/src/app/models/config.models.ts
  webui/src/app/services/schema.service.ts
Labels: webui

udpate sample configs to new layout
  sample/config/default.json
  sample/config/dev.json
Labels: none

bump types to v0.5.0
  types/package-lock.json
  types/package.json
Labels: types

bump type to v0.5.0 in webui
  webui/package-lock.json
  webui/package.json
Labels: webui

bump type to v0.5.0 in lib
  lib/package-lock.json
  lib/package.json
Labels: lib

bump lib to v0.17.0
  lib/package-lock.json
  lib/package.json
Labels: lib

bump webui to v0.10.0
  webui/package-lock.json
  webui/package.json
Labels: webui

update webui to v0.10.0 and lib to v0.17.0 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

update cli version to 0.7.0
  cli/package-lock.json
  cli/package.json
Labels: cli

downgrade launcher to tailwindcss v3.4.17
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump cli to v0.7.0 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump launcher to v0.7.0
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

fix electron determining web ui
  launcher/src/main.js
Labels: launcher

add todo
  launcher/src/main.js
Labels: launcher

convert samples to new format
  sample/config/all-to-cloud.json
  sample/config/midi-to-cue.json
  sample/config/midi-to-visca.json
Labels: none

fix tailwindcss building in site
  site/package-lock.json
  site/package.json
  site/tailwind.css
Labels: site

up launcher to tailwindcss v4
  launcher/package-lock.json
  launcher/package.json
  launcher/tailwind.css
Labels: launcher

update tailwindcss to 4.0.15 in site
  site/package-lock.json
  site/package.json
Labels: site

update social properties syntax
  docs/astro.config.mjs
Labels: docs

make changes needed for tailwindcss v4
  webui/.postcssrc.json
  webui/package-lock.json
  webui/package.json
  webui/src/app/components/patch-editor/patch-editor.component.css
  webui/tailwind.css
Labels: webui

downgrade electron in lib
  lib/package-lock.json
  lib/package.json
Labels: lib

update node to 22.17.0
  .nvmrc
  cli/Dockerfile
  cloud/Dockerfile
Labels: cli, cloud

update to angular 20
  webui/angular.json
  webui/package-lock.json
  webui/package.json
  webui/src/app/app.component.html
  webui/src/app/components/action/action.component.html
  webui/src/app/components/array-form/array-form.component.html
  webui/src/app/components/clipboard-dialog/clipboard-dialog.component.html
  webui/src/app/components/config/config.component.html
  webui/src/app/components/import-json/import-json.component.html
  webui/src/app/components/message-type/message-type.component.html
  webui/src/app/components/midi-info-dialog/midi-info-dialog.component.html
  webui/src/app/components/params-form/params-form.component.html
  webui/src/app/components/patch-editor/patch-editor.component.html
  webui/src/app/components/transform/transform.component.html
  webui/src/app/components/trigger/trigger.component.html
  webui/tsconfig.json
Labels: webui

update angular material to v20
  webui/package-lock.json
  webui/package.json
Labels: webui

downgrade to node 22.16.0
  .nvmrc
  cli/Dockerfile
  cloud/Dockerfile
Labels: cli, cloud

run formatting
  webui/package.json
  webui/src/app/app.component.html
  webui/src/app/components/action/action.component.html
  webui/src/app/components/array-form/array-form.component.html
  webui/src/app/components/clipboard-dialog/clipboard-dialog.component.html
  webui/src/app/components/config/config.component.html
  webui/src/app/components/message-type/message-type.component.html
  webui/src/app/components/params-form/params-form.component.html
  webui/src/app/components/transform/transform.component.html
  webui/src/app/components/trigger/trigger.component.html
  webui/src/assets/css/fonts.css
  webui/tsconfig.json
Labels: webui

update prettier in github action
  .github/workflows/check-format-lint.yml
Labels: none

downgrade express to v4
  lib/package-lock.json
  lib/package.json
Labels: lib

make color class important on mat-icon
  webui/src/app/components/action/action.component.html
  webui/src/app/components/params-form/params-form.component.html
  webui/src/app/components/patch-editor/patch-editor.component.html
  webui/src/app/components/transform/transform.component.html
  webui/src/app/components/trigger/trigger.component.html
Labels: webui
