Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'

add test for random action
  lib/tests/actions/random-action.test.js
Labels: lib

add TODO
  lib/src/actions/shell-action.ts
Labels: lib

add types for PSN protocol
  types/src/models/params/protocols.ts
Labels: types

update schema and dev config for psn protocol
  sample/config/dev.json
  schema/config.schema.json
Labels: schema

add basic PSN support to lib
  lib/package-lock.json
  lib/package.json
  lib/src/config.ts
  lib/src/messages/psn-message.ts
  lib/src/protocols/index.ts
  lib/src/protocols/psn-protocol.ts
  lib/src/router.ts
Labels: lib

fix node version and update dependabot
  .github/dependabot.yml
  lib/package-lock.json
  lib/package.json
  types/package-lock.json
  types/package.json
Labels: lib, types

fix dependabot.yml
  .github/dependabot.yml
Labels: none

ignore major updates to @types packages
  .github/dependabot.yml
Labels: none

ignore minor updates to @types packages as well
  .github/dependabot.yml
Labels: none

formatting
  .github/dependabot.yml
Labels: none

Add major update type for Angular dependencies
  .github/dependabot.yml
Labels: none

Adjust Dependabot config to exclude major updates
  .github/dependabot.yml
Labels: none

Add note about re-imagined Go project
  README.md
Labels: none

Remove demo/docs link from index.html
  site/src/index.html
Labels: site

Change layout from justify-between to justify-center
  site/src/index.html
Labels: site
