Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, types, webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

types:
  - changed-files:
      - any-glob-to-any-file: 'types/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'

update angular build deps to 18.2.0
  webui/package-lock.json
  webui/package.json
Labels: webui

add @angular group to dependabot
  .github/dependabot.yml
Labels: none

update angular build deps to 18.2.1
  webui/package-lock.json
  webui/package.json
Labels: webui

Add type for midi trigger params
  types/src/models/params/triggers.ts
Labels: types

add schema definition for midi trigger
  schema/config.schema.json
Labels: schema

bump types to v0.4.0
  types/package-lock.json
  types/package.json
Labels: types

bump types to v0.4.0 in webui
  webui/package-lock.json
  webui/package.json
Labels: webui

bump types to v0.4.0 in lib
  lib/package-lock.json
  lib/package.json
Labels: lib

fix trigger type in schema
  schema/config.schema.json
Labels: schema

add title for template field in midi trigger
  schema/config.schema.json
Labels: schema

trigger params template should include router vars
  lib/src/router.ts
  lib/src/triggers/trigger.ts
Labels: lib

add midi trigger
  lib/src/triggers/index.ts
  lib/src/triggers/midi-trigger.ts
Labels: lib

add test for midi trigger
  lib/tests/triggers/midi-trigger.test.js
Labels: lib

bump lib version to v0.16.0
  lib/package-lock.json
  lib/package.json
Labels: lib

update all angular deps to 18.2.3
  webui/package-lock.json
  webui/package.json
Labels: webui

update docs with midi trigger
  docs/src/content/docs/reference/triggers.md
Labels: docs

bump docs to 0.2.0
  docs/package-lock.json
  docs/package.json
Labels: docs

make some "smarter" dev scripts for cli and launcher
  cli/bundle.js
  cli/package-lock.json
  cli/package.json
  cli/setup_dev.js
  launcher/package.json
  lib/package.json
  scripts/setup_dev.js
  webui/package.json
Labels: cli, launcher, lib, webui

fix cli docker image setup
  .github/workflows/publish-cli-image.yml
Labels: none

import the correct type
  lib/src/protocols/cloud-protocol.ts
  lib/src/protocols/midi-protocol.ts
  lib/src/protocols/mqtt-protocol.ts
  lib/src/protocols/protocol.ts
  lib/src/protocols/tcp-protocol.ts
  lib/src/protocols/udp-protocol.ts
Labels: lib

bump lib to v0.16.1
  lib/package-lock.json
  lib/package.json
Labels: lib

bump lib to v0.16.1 in cli
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.8
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to v0.6.8 in launcher
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

bump launcher to v0.6.8
  launcher/package-lock.json
  launcher/package.json
Labels: launcher

update angular to 18.2.8
  webui/package-lock.json
  webui/package.json
Labels: webui

update @astrojs/check to 0.9.4
  docs/package-lock.json
  docs/package.json
Labels: docs

removing incomplete protocol base class
  lib/src/protocols/protocol.ts
Labels: lib

make protocol display area full height
  webui/src/app/app.component.html
  webui/src/app/components/config/config.component.html
  webui/src/app/components/protocol/protocol.component.html
Labels: webui

add right click menu for protocol area
  webui/src/app/components/protocol/protocol.component.html
Labels: webui

remove lodash noop
  lib/src/actions/action.ts
  lib/src/transforms/transform.ts
  webui/src/app/services/copy.service.ts
  webui/src/app/services/schema.service.ts
Labels: lib, webui

point dev config at public cloud instance
  sample/config/dev.json
Labels: none

switch to MIT license
  LICENSE
  cli/package.json
  cloud/package.json
  lib/package.json
  package.json
  site/package.json
  types/package.json
Labels: cli, cloud, lib, site, types

sync package-lock files
  cli/package-lock.json
  cloud/package-lock.json
  lib/package-lock.json
  package-lock.json
  site/package-lock.json
  types/package-lock.json
Labels: cli, cloud, lib, site, types

update all angular deps to 18.2.9
  webui/package-lock.json
  webui/package.json
Labels: webui

start to make the distinction between protocol and message
  lib/src/actions/forward-action.ts
  lib/src/protocols/http-protocol.ts
  lib/src/protocols/index.ts
  lib/src/protocols/websocket-protocol.ts
  lib/src/router.ts
  webui/src/app/app.module.ts
  webui/src/app/components/config/config.component.html
  webui/src/app/components/config/config.component.ts
  webui/src/app/components/message-type/message-type.component.css
  webui/src/app/components/message-type/message-type.component.html
  webui/src/app/components/message-type/message-type.component.ts
  webui/src/app/models/events.model.ts
  webui/src/app/services/schema.service.ts
Labels: lib, webui

update docs
  README.md
  docs/src/content/docs/reference/messages.md
  docs/src/content/docs/showbridge/overview.md
Labels: docs

sync docs package-lock
  docs/package-lock.json
Labels: docs

turn import-config component into generic import json
  webui/src/app/app.component.ts
  webui/src/app/app.module.ts
  webui/src/app/components/import-config/import-config.component.ts
  webui/src/app/components/import-json/import-json.component.css
  webui/src/app/components/import-json/import-json.component.html
  webui/src/app/components/import-json/import-json.component.ts
  webui/src/app/services/schema.service.ts
Labels: webui

add copy and import buttons to patch-editor
  webui/src/app/components/patch-editor/patch-editor.component.html
  webui/src/app/components/patch-editor/patch-editor.component.ts
Labels: webui
