Repository jwetzell/showbridge, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, cloud, docs, launcher, lib, schema, site, webui

.github/labeler.yml:

cli:
  - changed-files:
      - any-glob-to-any-file: 'cli/**'

cloud:
  - changed-files:
      - any-glob-to-any-file: 'cloud/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

launcher:
  - changed-files:
      - any-glob-to-any-file: 'launcher/**'

lib:
  - changed-files:
      - any-glob-to-any-file: 'lib/**'

schema:
  - changed-files:
      - any-glob-to-any-file: 'schema/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

webui:
  - changed-files:
      - any-glob-to-any-file: 'webui/**'

adjust contrast on protocol tabs
  webui/src/app/components/config/config.component.html
Labels: webui

update angular to 18.0.3
  webui/package-lock.json
  webui/package.json
Labels: webui

remove duplicate entry in schema
  schema/config.schema.json
Labels: schema

adjust sub triggers to make sense for parent trigger
  schema/config.schema.json
Labels: schema

load sub trigger types from the actual subTriggers schema
  webui/src/app/components/trigger/trigger.component.html
  webui/src/app/services/schema.service.ts
Labels: webui

add mqtt topic to trigger list
  schema/config.schema.json
Labels: schema

cleanup some logging in webui
  webui/src/app/app.component.ts
  webui/src/app/components/params-form/params-form.component.ts
Labels: webui

bump webui to 0.8.0
  webui/package-lock.json
  webui/package.json
Labels: webui

update cli to webui 0.8.0
  cli/package-lock.json
  cli/package.json
Labels: cli

bump cli to 0.6.7
  cli/package-lock.json
  cli/package.json
Labels: cli

add types library
  types/package-lock.json
  types/package.json
  types/package/package.json
  types/src/index.ts
  types/src/models/action.ts
  types/src/models/config.ts
  types/src/models/params/actions.ts
  types/src/models/params/index.ts
  types/src/models/params/transforms.ts
  types/src/models/params/triggers.ts
  types/src/models/router.ts
  types/src/models/sender.ts
  types/src/models/transform.ts
  types/src/models/trigger.ts
  types/tsconfig.json
Labels: none

add types to dependabot
  .github/dependabot.yml
Labels: none
